<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example</div>

                    <div class="panel-body">
                        <div class="form-group">
                            <form @submit.prevent="checkBrackets()">
                                <label for="inputID" class="col-sm-4 control-label">Введите строку</label>
                                <div class="col-sm-6">
                                    <input type="text" v-model="text" id="inputID" class="form-control" required="required">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-info">Проверить</button>
                                </div>
                            </form>
                            <div id="response">
                                <h2 v-if="isValidText === true" class="text-center"><span class="label label-success">Верно</span></h2>
                                <h2 v-else-if="isValidText === false" class="text-center"><span class="label label-danger">Не верно</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            text: '',
            isValidText: null
        }),
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            checkBrackets() {
                console.log('asd');
                axios.get('/push-to-stack', {params: {'text' : this.text}}).then(response => {
                    if (response.data.status === 'ok') {
                        this.isValidText = true;
                    } else {
                        this.isValidText = false;
                    }
                    console.log(response.data.status);
                }).catch(errors => {
                    console.warn(errors);
                });
            }
        }
    }
</script>
